#Visual studio
.vs/

#Build result
CrudWebApiADO/bin/
CrudWebApiADO/obj/

Jcvalera.Common/Jcvalera.Common.Core.BLL/obj/
Jcvalera.Common/Jcvalera.Common.Core.BLL/bin/

Jcvalera.Common/Jcvalera.Common.Core.DAL/bin/
Jcvalera.Common/Jcvalera.Common.Core.DAL/obj/

Jcvalera.Common/Jcvalera.Common/bin
Jcvalera.Common/Jcvalera.Common/obj


#Visual Studio Code
.vscode

# User-specific files
*.suo
