#Visual studio
.vs/

#Build result
CrudWebApiADO/[Bb]in/
CrudWebApiADO/[Oo]bj/

CrudWebApiADO/Jcvalera.Common/Jcvalera.Common/[Bb]in/
CrudWebApiADO/Jcvalera.Common/Jcvalera.Common/[Oo]bj/

CrudWebApiADO/Jcvalera.Common/Jcvalera.Common.Core.BLL/[Bb]in/
CrudWebApiADO/Jcvalera.Common/Jcvalera.Common.Core.BLL/[Oo]bj/

CrudWebApiADO/Jcvalera.Common/Jcvalera.Common.Core.DAL/[Bb]in/
CrudWebApiADO/Jcvalera.Common/Jcvalera.Common.Core.DAL/[Oo]bj/

#Visual Studio Code
.vscode

# User-specific files
*.suo
