# Visual Studio
.vs/

# Build result
CrudWebMvcEntity/bin/
CrudWebMvcEntity/obj/

Jcvalera.Core.BLL/bin/
Jcvalera.Core.BLL/obj/

Jcvalera.Core.Common/bin/
Jcvalera.Core.Common/obj/

Jcvalera.Core.DAL/bin/
Jcvalera.Core.DAL/obj/

#Visual Studio Code
.vscode

# User-specific files
*.suo
