# Visual Studio
.vs/

# Build result
BlazorCRUD/bin/
BlazorCRUD/obj/

Blazor.Core.BLL/bin/
Blazor.Core.BLL/obj/

Blazor.Core.Common/bin/
Blazor.Core.Common/obj/

Blazor.Core.DAL/bin/
Blazor.Core.DAL/obj/

#Visual Studio Code
.vscode

# User-specific files
*.suo
